In [98]:
import sys
from pathlib import Path
import numpy as np
import pandas as pd

import fire
import questionary
import math

In [99]:
my_questionnaires=['Q1_Capacity.csv','Q2_Capacity.csv','Q3_Capacity.csv','Q4_Capacity.csv','Q5_Capacity.csv']
risk_capacity=[]
zero_df=[]

In [100]:
"""The main function for running the script."""
my_questionnaires=['Q1_Capacity.csv','Q2_Capacity.csv','Q3_Capacity.csv','Q4_Capacity.csv','Q5_Capacity.csv']
risk_capacity=[]
zero_df=[]
    
for quest in my_questionnaires:
    csvpath = Path("./Resources/"+quest)
    pd_name= quest+"_df"
    pd_name = pd.read_csv(csvpath)
    pd_name=pd_name.set_index('Questions')
    n_rows=len(pd_name.axes[0])
    n_cols=len(pd_name.axes[1])
    risk_capacity.append(pd_name)
    df_zero = pd.DataFrame(np.zeros((n_rows, n_cols)), index =pd_name.index, columns =pd_name.columns)
    zero_df.append(df_zero)

In [101]:
zero_df[3]

,<50k,50-100k,100-200k,>200k
Questions,,,,
What is your household's approximate annual gross income before taxes?,0.0,0.0,0.0,0.0

In [102]:
risk_capacity[3]

,<50k,50-100k,100-200k,>200k
Questions,,,,
What is your household's approximate annual gross income before taxes?,0.25,0.5,0.75,1

In [105]:
df_zero = pd.DataFrame(np.zeros((n_rows, n_cols)), index =risk_tolerance_df.index, columns =risk_tolerance_df.columns  )

ValueError: Shape of passed values is (1, 4), indices imply (5, 4)

In [106]:
df_zero

                                    >30%  20%-30%  10%-20%  <10%
Questions
Amount to invest vs your net worth   0.0      0.0      0.0   0.0

In [107]:
questions=list(df_zero.index)
responses = list(df_zero.columns)

In [108]:
responses

['>30%', '20%-30%', '10%-20%', '<10%']

In [109]:
df_zero.loc['Compared to the average person, I would say I take more risk','Agree']=1

In [110]:
df_zero

,>30%,20%-30%,10%-20%,<10%,Agree
Questions,,,,,
Amount to invest vs your net worth,0.0,0.0,0.0,0.0,NaN
"Compared to the average person, I would say I take more risk",NaN,NaN,NaN,NaN,1.0

In [182]:
x=0.68

In [183]:
str(math.ceil(x*10)/10)

'0.7'

In [184]:
str(math.floor(x*10)/10)

'0.6'

In [185]:
bucket = str(math.floor(x*10)/10)+'-'+str(math.ceil(x*10)/10)

In [186]:
bucket

'0.6-0.7'