In [1]:
import pandas as pd
import time
from yahoo_api import *

In [2]:
tickers_index=['BTC-USD','ETH-USD','SQ','SHOP','TSLA','NVDA','AAPL','GOOG','MSFT','SPY','AGG']
capacity_series=pd.Series([0.0,0.0,0.0,0.0,0.0,0.2,0.3,0.3,0.2,0.0,0.0])
tolerance_series=pd.Series([0.0,0.0,0.0,0.0,0.2,0.2,0.2,0.2,0.2,0.0,0.0])
benchmark_series=pd.Series([0.0,0.0,0.0,0.0,0.0,0.2,0.3,0.3,0.2,0.6,0.4])
cryptomix_series=pd.Series([0.05,0.05,0.3,0.3,0.3,0.2,0.3,0.3,0.2,0.0,0.0])
test_dataframe=pd.DataFrame(data=[capacity_series,tolerance_series,benchmark_series,cryptomix_series]).T
test_dataframe.index=tickers_index
test_dataframe.columns=['Risk Capacity','Risk Tolerance', 'Benchmark', 'Cryptomix']

In [3]:
test_dataframe

         Risk Capacity  Risk Tolerance  Benchmark  Cryptomix
BTC-USD            0.0             0.0        0.0       0.05
ETH-USD            0.0             0.0        0.0       0.05
SQ                 0.0             0.0        0.0       0.30
SHOP               0.0             0.0        0.0       0.30
TSLA               0.0             0.2        0.0       0.30
NVDA               0.2             0.2        0.2       0.20
AAPL               0.3             0.2        0.3       0.30
GOOG               0.3             0.2        0.3       0.30
MSFT               0.2             0.2        0.2       0.20
SPY                0.0             0.0        0.6       0.00
AGG                0.0             0.0        0.4       0.00

In [4]:
index_list=list(test_dataframe.index)

In [5]:
index_list

['BTC-USD',
 'ETH-USD',
 'SQ',
 'SHOP',
 'TSLA',
 'NVDA',
 'AAPL',
 'GOOG',
 'MSFT',
 'SPY',
 'AGG']

In [6]:
isinstance(test_dataframe,pd.DataFrame)

True

In [7]:
def historical_prices(weights_df):
    if isinstance(weights_df,pd.DataFrame):
        tickers_list=list(weights_df.index)
        dataframe_list=[]
        api_calls_made=0
        for ticker in tickers_list:
            if api_calls_made<10:
                dataframe_list.append(yahoo_api_call(ticker))
                api_calls_made+=1
            else:
                time.sleep(100)
                dataframe_list.append(yahoo_api_call(ticker))
                api_calls_made=1
        df_historical=pd.concat(dataframe_list,axis=1,keys=tickers_list)
        df_historical.dropna(how='any',inplace=True)
        df_historical=df_historical[~(df_historical==0).any(axis=1)]
        return(df_historical)
    else:
        print("Please input a dataframe into the historical_prices function")

In [8]:
dataframe_output=historical_prices(test_dataframe)

In [ ]:
weighted_returns(historical_prices,

In [9]:
dataframe_output=dataframe_output[~(dataframe_output == 0).any(axis=1)]
dataframe_output

             BTC-USD                                             ETH-USD  \
                open      high       low     close       volume     open
date
11-08-2017   7446.83   7446.83   7101.52   7143.58   3226249984   308.64
11-09-2017   7173.73      7312   6436.87   6618.14   5208249856   320.67
11-10-2017   6618.61   6873.15   6204.22    6357.6   4908680192   298.59
11-13-2017   6561.48   6764.98   6461.75   6635.75   3197110016   316.76
11-14-2017   6634.76   7342.25   6634.76   7315.54   4200880128   337.96
...              ...       ...       ...       ...          ...      ...
01-24-2023  22639.27   23722.1  22406.08  23117.86  30685366709  1556.81
01-25-2023  23108.96  23237.08  22911.37  23032.78  26357839322  1611.08
01-26-2023  23030.72  23417.72  22654.59  23078.73  25383335641  1603.08
01-27-2023  23079.96   23165.9  22908.85  23031.09  14712928379  1598.13
01-30-2023  22843.06  22860.95  22765.57  22838.91  27068014592  1567.51

                                                    ...     SPY          \
               high      low    close       volume  ...    open    high
date                                                ...
11-08-2017   329.45   307.06   320.88    893249984  ...  258.47  259.22
11-09-2017   324.72   294.54   299.25    885985984  ...  257.73  258.39
11-10-2017   319.45   298.19   314.68    842300992  ...  257.73  258.29
11-13-2017   340.18   316.76   337.63   1069680000  ...  257.31  258.59
11-14-2017   340.91   329.81   333.36    722665984  ...  257.41  257.85
...             ...      ...      ...          ...  ...     ...     ...
01-24-2023  1632.24   1530.8  1611.71  10598973448  ...  398.88  401.15
01-25-2023   1626.2   1586.6  1603.11   8395315241  ...  395.95   400.7
01-26-2023     1617  1565.24  1598.16   8124465373  ...  403.13  404.92
01-27-2023   1604.7  1565.39  1572.44   5803653357  ...  403.66  408.16
01-30-2023   1571.6  1563.91  1569.05   9130398720  ...   402.8  405.12

                                         AGG
               low   close    volume    open    high     low   close   volume
date
11-08-2017  258.15  259.11  50469600  109.54   109.6  109.46  109.51  2742600
11-09-2017  256.36  258.17  95085500  109.39  109.46   109.3  109.43  2479800
11-10-2017  257.37  258.09  59984700  109.06  109.15  108.97  108.99  1751100
11-13-2017  257.27  258.33  50228600  109.11  109.11  108.96  108.99  1891600
11-14-2017  256.52  257.73  61315200  109.01  109.12     109   109.1  2799900
...            ...     ...       ...     ...     ...     ...     ...      ...
01-24-2023  397.64   400.2  59524900   99.84  100.32   99.68  100.28  6538600
01-25-2023  393.56  400.35  84800300  100.26  100.47   100.1   100.4  5431000
01-26-2023  400.03  404.75  72287400  100.33  100.46  100.07  100.23  5399100
01-27-2023  403.44  405.68  68280700   99.96  100.14   99.91  100.08  5123100
01-30-2023   400.3  400.59  74202018    99.9  100.09    99.8   99.81  6821674

[1314 rows x 55 columns]

In [10]:
column_names=list(dataframe_output)
close_column_names=[]
for tup in column_names:
    if 'close' in tup:
        close_column_names.append(tup)
ticker_names=[]
for tup in close_column_names:
    ticker_names.append(tup[0])
ticker_names

['BTC-USD',
 'ETH-USD',
 'SQ',
 'SHOP',
 'TSLA',
 'NVDA',
 'AAPL',
 'GOOG',
 'MSFT',
 'SPY',
 'AGG']

In [11]:
close_returns_df=dataframe_output[close_column_names].pct_change().dropna()
close_returns_df.columns=ticker_names
close_returns_df

,BTC-USD,ETH-USD,SQ,SHOP,TSLA,NVDA,AAPL,GOOG,MSFT,SPY,AGG
date,,,,,,,,,,,
11-09-2017,-0.073554,-0.067408,0.034051,-0.024145,-0.004436,-0.018359,-0.002043,-0.008271,-0.005558,-0.003628,-0.000731
11-10-2017,-0.039368,0.051562,0.032929,0.030928,0.000000,0.052601,-0.006823,-0.003103,-0.002616,-0.000310,-0.004021
11-13-2017,0.043751,0.072931,0.019638,-0.012000,0.041089,-0.016102,-0.004122,-0.002140,0.000715,0.000930,0.000000
11-14-2017,0.102444,-0.012647,-0.006003,0.002024,-0.021398,0.007148,-0.015176,0.000195,0.001430,-0.002323,0.001009
11-15-2017,0.076023,-0.007319,0.023150,-0.010101,0.008260,-0.019612,-0.013075,-0.004873,-0.012731,-0.005005,0.001925
...,...,...,...,...,...,...,...,...,...,...,...
01-24-2023,0.021266,0.035404,-0.010654,-0.030654,0.000974,0.003751,0.010063,-0.019761,-0.002226,-0.001073,0.004407
01-25-2023,-0.003680,-0.005336,-0.000248,0.108691,0.003753,0.003011,-0.004701,-0.024997,-0.005908,0.000375,0.001197
01-26-2023,0.001995,-0.003088,0.005200,0.021128,0.109673,0.024789,0.014803,0.025121,0.030714,0.010990,-0.001693
01-27-2023,-0.002064,-0.016094,0.032516,0.036209,0.110002,0.028431,0.013684,0.015631,0.000645,0.002298,-0.001497
01-30-2023,-0.008344,-0.002156,-0.048193,-0.057708,-0.063182,-0.059072,-0.020078,-0.027405,-0.021962,-0.012547,-0.002698

In [12]:
weighted_returns=close_returns_df.dot(test_dataframe)
weighted_returns

            Risk Capacity  Risk Tolerance  Benchmark  Cryptomix
date
11-09-2017      -0.007878       -0.007733  -0.010346  -0.013285
11-10-2017       0.007019        0.008012   0.005225   0.026786
11-13-2017      -0.004956        0.003888  -0.004398   0.015496
11-14-2017      -0.002779       -0.005560  -0.003769  -0.005902
11-15-2017      -0.011853       -0.008406  -0.014086  -0.002025
...                   ...             ...        ...        ...
01-24-2023      -0.002604       -0.001440  -0.001485  -0.011871
01-25-2023      -0.009489       -0.005769  -0.008785   0.023719
01-26-2023       0.023078        0.041020   0.028995   0.063824
01-27-2023       0.014610        0.033679   0.015390   0.067320
01-30-2023      -0.030452       -0.038340  -0.039059  -0.081701

[1313 rows x 4 columns]

In [13]:
names[3+5]

NameError: name 'names' is not defined