In [6]:
import sys
sys
from yahoo_api import *

In [12]:
btc_data=dataframe_maker({'BTC-USD':0.5,'ETH-USD':0.4,'T':0.1})

In [13]:
btc_data['Historical prices']

             BTC-USD                                             ETH-USD  \
                open      high       low     close       volume     open
date
11-08-2017   7446.83   7446.83   7101.52   7143.58   3226249984   308.64
11-09-2017   7173.73      7312   6436.87   6618.14   5208249856   320.67
11-10-2017   6618.61   6873.15   6204.22    6357.6   4908680192   298.59
11-13-2017   6561.48   6764.98   6461.75   6635.75   3197110016   316.76
11-14-2017   6634.76   7342.25   6634.76   7315.54   4200880128   337.96
...              ...       ...       ...       ...          ...      ...
01-19-2023  21085.37  22692.36  20919.13  22676.55  28799154319  1552.37
01-20-2023  22677.43  23282.35  22511.83  22777.63  32442278429  1659.71
01-23-2023  22929.63  23134.01  22549.74  22636.47  26405069715  1627.85
01-24-2023         0         0         0         0            0        0
01-25-2023  23128.99  23232.94   23092.7  23173.27  30071560192  1613.23

                                                        T                \
               high      low    close       volume   open   high    low
date
11-08-2017   329.45   307.06   320.88    893249984  24.81   25.3  24.76
11-09-2017   324.72   294.54   299.25    885985984  25.25  26.02  25.19
11-10-2017   319.45   298.19   314.68    842300992  25.81  26.04  25.76
11-13-2017   340.18   316.76   337.63   1069680000  25.89  25.95  25.79
11-14-2017   340.91   329.81   333.36    722665984  25.82  25.83  25.36
...             ...      ...      ...          ...    ...    ...    ...
01-19-2023  1659.89  1544.92  1659.75   8528894754  18.93  19.02  18.79
01-20-2023  1674.18  1626.81  1627.12   8859250310  18.96  19.23  18.77
01-23-2023  1639.72  1551.39   1556.6   8180274691  19.23   19.4  18.98
01-24-2023        0        0        0            0  18.97  22.84  15.15
01-25-2023   1626.2  1611.07  1617.48  10052748288  19.75  20.48  19.74


            close     volume
date
11-08-2017  25.26  115981341
11-09-2017  25.68   92568652
11-10-2017  25.85   76099018
11-13-2017  25.81   38213023
11-14-2017  25.47   40065829
...           ...        ...
01-19-2023  18.94   40180800
01-20-2023  19.23   37831200
01-23-2023   19.1   32890800
01-24-2023  19.16   32858500
01-25-2023  20.42   73544900

[1311 rows x 15 columns]